{% extends 'base.html.twig' %}

{% block title %}Yommie Blog{% endblock %}

{% block body %}
    {% for message in app.flashes('home-error') %}
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><i class="fas fa-exclamation-triangle" style="font-size: 1.5rem;"></i> Error!</h4>
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.flashes('home-success') %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading"><i class="fas fa-check-circle" style="font-size: 1.5rem;"></i> Success!</h4>
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col text-center">
            {% if app.user %}
                {% set filterOn = app.request.query.get("filter_subscriptions")|default("false") %}

                {% if filterOn is same as("false") %}
                    <a class="btn btn-info" href="{{ path("home", {"filter_subscriptions": "true"}) }}">Show Only Articles From your Subscriptions</a>
                {% else %}
                    <a class="btn btn-warning" href="{{ path("home", {"filter_subscriptions": "false"}) }}">Show all Articles</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for article in articles["paginator"] %}
        <div class="post-preview">
            <a href="{{ path("viewArticle", {"slug": article.getSlug()}) }}">
                <h2 class="post-title">{{ article.getTitle() }}</h2>
                <h3 class="post-subtitle">{{ article.getExcerpt() }}</h3>
            </a> 
            <p class="post-meta">Posted by <a href="{{ path("viewAuthor", {"username": article.getAuthor().getUsername()}) }}">{{ article.getAuthor().getUsername() }}</a> on {{ article.getCreatedDate()|date("jS F, Y") }}</p>
        </div>
        <hr>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading"><i class="fas fa-exclamation-triangle" style="font-size: 1.5rem;"></i> Oops!</h4>
            <p>No articles created yet. Create one and be the first author!</p>
        </div>
    {% endfor %}

    <div class="clearfix">
        {% if page > 1 %}
            {% set previousPage = page - 1 %}
            <a class="btn btn-primary float-left" href="{{ path("home", {"page": previousPage}|merge(params)) }}">Newer Posts &larr;</a>
        {% endif %}

        {% if page < pages and pages > 1 %}
            {% set nextPage = page + 1 %}
            <a class="btn btn-primary float-right" href="{{ path("home", {"page": nextPage}|merge(params)) }}">Older Posts &rarr;</a>
        {% endif %}
    </div>
{% endblock %}
